<div>
    <div class="contenedor_formulario">
            <form [formGroup]="form" class="formulario_inicio">
                <div class="input_con_icono">
                    <!--<svg xmlns="http://www.w3.org/2000/svg" class="icono_busqueda" viewBox="0 0 24 24" fill="rgba(196,196,196,1)"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg>-->
                     <app-input-reutilizable
                      [clase]="'input_login'"
                      [placeholder]="'Buscar por procedencia o nombre'"
                      [control]="form.controls.filtrador"
                     />
                </div>
            </form>
       </div>
<div class="player-table">
  
    <div class="player-card header">
        <div class="player-cell header-texto">JUGADOR</div>
        <div class="player-cell header-texto">POSICION</div>
        <div class="player-cell header-texto">CLUB</div>
        <div class="player-cell header-texto">NACIONALIDAD</div>
        <div class="player-cell header-texto"></div>
    </div>


    <cdk-virtual-scroll-viewport
      class="virtual-scroll-container"
      [itemSize]="80"
      orientation="vertical"
      
      > 
      <div *cdkVirtualFor="let player of filteredPlayers; trackBy: trackById" class="player-card">
        
            <div class="player-cell player-info" data-label="Jugador">
          
<img *ngIf="player?.player_face_url" 
     [ngSrc]="player.player_face_url"  
     [alt]="player.long_name || 'Foto del jugador'"
     width="50" 
     height="50"
     class="player-image" 
     referrerpolicy="no-referrer" />

                <div class="player-name">
                    <p>{{player.long_name}} </p>
                    <span>FIFA {{player.fifa_version}}</span>
                    
                </div>
            </div>
            
            <div class="player-cell" data-label="Posición">
                <p class="parrafo_dato">{{player.player_positions}}</p>
            </div>
            
            <div class="player-cell" data-label="Club">
                <p class="parrafo_dato">{{player.club_name}}</p>
            </div>
            
            <div class="player-cell" data-label="Nacionalidad">
                <p class="parrafo_dato">{{player.nationality_name}}</p>
            </div>
    
            <div class="player-actions" >
                <button [routerLink]="['ver-player', player.id]" class="btn view">
                  <i class="fa-solid fa-eye"></i> <span>Ver</span>
                </button>
                <button [routerLink]="['editar-player', player.id]" class="btn edit">
                  <i class="fa-solid fa-pen"></i> <span>Editar</span>
                </button>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
    
</div>
</div>
