<div class="player-table">
  
    <div class="player-card header">
        <div class="player-cell header-texto">JUGADOR</div>
        <div class="player-cell header-texto">POSICION</div>
        <div class="player-cell header-texto">CLUB</div>
        <div class="player-cell header-texto">NACIONALIDAD</div>
        <div class="player-cell header-texto"></div>
    </div>


    <cdk-virtual-scroll-viewport
      class="virtual-scroll-container"
      [itemSize]="80"
      orientation="vertical"
      
      > 
      <div *cdkVirtualFor="let player of players; trackBy: trackById" class="player-card">
        
            <div class="player-cell player-info" data-label="Jugador">
          
<img *ngIf="player?.player_face_url" 
     [ngSrc]="player.player_face_url"  
     [alt]="player.long_name || 'Foto del jugador'"
     width="50" 
     height="50"
     class="player-image" 
     referrerpolicy="no-referrer" />

                <div class="player-name">
                    <p>{{player.long_name}} </p>
                    <span>FIFA {{player.fifa_version}}</span>
                    
                </div>
            </div>
            
            <div class="player-cell" data-label="Posición">
                <p class="parrafo_dato">{{player.player_positions}}</p>
            </div>
            
            <div class="player-cell" data-label="Club">
                <p class="parrafo_dato">{{player.club_name}}</p>
            </div>
            
            <div class="player-cell" data-label="Nacionalidad">
                <p class="parrafo_dato">{{player.nationality_name}}</p>
            </div>
    
            <div class="player-actions" >
                <button [routerLink]="['ver-player', player.id]" class="btn view">
                  <i class="fa-solid fa-eye"></i> <span>Ver</span>
                </button>
                <button [routerLink]="['editar-player', player.id]" class="btn edit">
                  <i class="fa-solid fa-pen"></i> <span>Editar</span>
                </button>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
    
</div>