<div class="contenedor_formulario">
<form class="formulario" [formGroup]="formPlayer" (ngSubmit)="subirJugador()">
        <div class="contenedor_inputs">
            <app-input-reutilizable  
                [label]="'Nombre y apellido'"
                [control]="formPlayer.controls.name"
                [type]="'text'"
                [placeholder]="'Ej: Lionel Andrés Messi Cuccittini'"
            />
            <app-input-reutilizable  
                [label]="'Posición'"
                [control]="formPlayer.controls.position"
                [type]="'text'"
                [placeholder]="'Posición del jugador'"
              />
        </div>
        <div class="contenedor_inputs">
            <app-input-reutilizable  
                [label]="'Club'"
                [control]="formPlayer.controls.club_name"
                [type]="'text'"
                [placeholder]="'Ej: Inter de Miami CF'"
            />
            <app-input-reutilizable  
                [label]="'Nacionalidad'"
                [type]="'text'"
                [placeholder]="'Ej: Argentina'"
                [control]="formPlayer.controls.nationality_name"
            />
        </div>
        <div class="contenedor_inputs">
            <div class="contenedor_interno">
                <app-input-reutilizable 
                [label]="'URL de la foto'"
                [control]="formPlayer.controls.player_face_url"
                [type]="'text'"
                [placeholder]="'Ej: https://...'"
                 />
            </div>
           
           <div class="contenedor_dos_inputs">
                <app-input-reutilizable 
                    [label]="'Versión'"
                    [control]="formPlayer.controls.fifa_version"
                    [type]="'text'"
                    [placeholder]="'Ej: FIFA 23'"
                />
                <app-input-reutilizable 
                    [label]="'Actualizacion'"
                    [control]="formPlayer.controls.fifa_update"
                    [type]="'text'"
                    [placeholder]="'Ej: Summer Update'"
                />
           </div>
        </div>
        <div class="contenedor_inputs">
            <app-input-reutilizable  
                [label]="'Finalización de ataque'"
                [control]="formPlayer.controls.attacking_finishing"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
            <app-input-reutilizable  
                [label]="'Regate habilidoso'"
                [control]="formPlayer.controls.skill_dribbling"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
            <app-input-reutilizable  
                [label]="'Pase corto de ataque'"
                [control]="formPlayer.controls.attacking_short_passing"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
        </div>
        <div class="contenedor_inputs">   
            <app-input-reutilizable  
                [label]="'Potencia de disparo'"
                [control]="formPlayer.controls.power_shot_power"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
            <app-input-reutilizable  
                [label]="'Aceleración de movimiento'"
                [control]="formPlayer.controls.movement_acceleration"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
            <app-input-reutilizable  
                [label]="'Entrada de defensa en pie'"
                [control]="formPlayer.controls.defending_standing_tackle"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
        </div>
        <div class="contenedor_inputs">
            <app-input-reutilizable  
                [label]="'Intercepciones mentales'"
                [control]="formPlayer.controls.mentality_interceptions"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
            <app-input-reutilizable  
                [label]="'Fuerza de poder'"
                [control]="formPlayer.controls.power_strength"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
            <app-input-reutilizable  
                [label]="'Marcaje defensivo'"
                [control]="formPlayer.controls.defending_marking"
                [type]="'number'"
                [placeholder]="'0 - 99'"
            />
        </div>

        <div class="contenedor_textarea">
            <app-input-reutilizable 
                [label]="'Descripcion del jugador'"
                [control]="formPlayer.controls.player_traits"
                [type]="'textarea'"
                [placeholder]="'Ej: Dribleador, Cabezazo, etc.'"
            />
        </div>
        <div class="contenedor_boton">
            <button class="boton_enviar" type="submit" (click)="subirJugador()">{{ jugadorEditado ? 'Guardar cambios' : 'Crear jugador' }}</button>
                
        </div>
</form>

</div>
