<div class="contenedor_formulario">
<form class="formulario" [formGroup]="formPlayer" (ngSubmit)="editarJugador()">
        <div class="contenedor_inputs">
            <app-input-reutilizable  
                [label]="'Nombre y apellido'"
                [control]="formPlayer.controls.name"
                [type]="'text'"
                [placeholder]="'Ej: Lionel Andrés Messi Cuccittini'"
            />
            <app-input-reutilizable  
                [label]="'Posición'"
                [control]="formPlayer.controls.position"
                [type]="'text'"
                [placeholder]="'Posición del jugador'"
              />
        </div>
        <div class="contenedor_inputs">
            <app-input-reutilizable  
                [label]="'Club'"
                [control]="formPlayer.controls.club_name"
                [type]="'text'"
                [placeholder]="'Ej: Inter de Miami CF'"
            />
            <app-input-reutilizable  
                [label]="'Nacionalidad'"
                [type]="'text'"
                [placeholder]="'Ej: Argentina'"
                [control]="formPlayer.controls.nationality_name"
            />
        </div>
        <div class="contenedor_inputs">
            <div class="contenedor_interno">
                <app-input-reutilizable 
                [label]="'URL de la foto'"
                [control]="formPlayer.controls.player_face_url"
                [type]="'text'"
                [placeholder]="'Ej: https://...'"
                 />
            </div>
           
           <div class="contenedor_dos_inputs">
                <app-input-reutilizable 
                    [label]="'Versión'"
                    [control]="formPlayer.controls.fifa_version"
                    [type]="'text'"
                    [placeholder]="'Ej: FIFA 23'"
                />
                <app-input-reutilizable 
                    [label]="'Actualizacion'"
                    [control]="formPlayer.controls.fifa_update"
                    [type]="'text'"
                    [placeholder]="'Ej: Summer Update'"
                />
           </div>
        </div>
        <div class="contenedor_textarea">
            <app-input-reutilizable 
                [label]="'Descripcion del jugador'"
                [control]="formPlayer.controls.player_traits"
                [type]="'textarea'"
                [placeholder]="'Ej: Dribleador, Cabezazo, etc.'"
            />
        </div>
        <div class="contenedor_boton">
            <button class="boton_enviar" type="submit" (click)="editarJugador()">Editar jugador</button>
        </div>
</form>

</div>

