<header class="header">
    <nav class="navbar">
        <div class="contenedor_logo">
            <img class="imagen_logo" src="/assets/logo_futbol.png" alt="">
            <h2 class="titulo_logo">Futbol manager</h2>    
            <ul class="contenedor_li">
                <li class="li" routerLink="">Jugadores</li>
                <li class="li" routerLink="subir_jugador">Subir jugador</li>
            </ul>
        </div>
        <div class="contenedor_login">
            <button class="boton_login">
                iniciar sesion
            </button>
        </div>
    </nav>
</header>